{
  "extends": [
    "taro"
  ],
	"plugins": [
  ],
  "rules": {
		// 临时补丁
		"react/jsx-indent-props": 0,
		"react/no-unused-state": 1,
    "no-unused-vars": [
      1,
      {
        "varsIgnorePattern": "Taro"
      }
    ],
		"react/jsx-tag-spacing": "never",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".tsx"
        ]
      }
    ],
    "semi": [
      "error",
      "always"
    ]
  },
  "parser": "babel-eslint"
}
