// 项目通用样式
// main.js 引用通用样式无效？
@each $fsSize in 26 24 22 20 18 16 14 {
	.fs#{$fsSize} {
		font-size: #{$fsSize}px;
	}
}

@each $fw in 400 700 {
	.fw#{$fw} {
		font-weight: #{$fw};
	}
}

// 注意，超出100的值，自己声明
@for $unit from 0 through 100 {
	.pd#{$unit} {
		padding: #{$unit}px;
		@media only screen and (max-width: 1023px) {
			padding: #{$unit / 100}rem;
		}
	}
	.pl#{$unit} {
		padding-left: #{$unit}px;
		@media only screen and (max-width: 1023px) {
			padding-left: #{$unit / 100}rem;
		}
	}
	.pr#{$unit} {
		padding-right: #{$unit}px;
		@media only screen and (max-width: 1023px) {
			padding-right: #{$unit / 100}rem;
		}
	}
	.pt#{$unit} {
		padding-top: #{$unit}px;
		@media only screen and (max-width: 1023px) {
			padding-top: #{$unit / 100}rem;
		}
	}
	.pb#{$unit} {
		padding-bottom: #{$unit}px;
		@media only screen and (max-width: 1023px) {
			padding-bottom: #{$unit / 100}rem;
		}
	}

	.mg#{$unit} {
		margin: #{$unit}px;
		@media only screen and (max-width: 1023px) {
			margin: #{$unit / 100}rem;
		}
	}
	.ml#{$unit} {
		margin-left: #{$unit}px;
		@media only screen and (max-width: 1023px) {
			margin-left: #{$unit / 100}rem;
		}
	}
	.mr#{$unit} {
		margin-right: #{$unit}px;
		@media only screen and (max-width: 1023px) {
			margin-right: #{$unit / 100}rem;
		}
	}
	.mt#{$unit} {
		margin-top: #{$unit}px;
		@media only screen and (max-width: 1023px) {
			margin-top: #{$unit / 100}rem;
		}
	}
	.mb#{$unit} {
		margin-bottom: #{$unit}px;
		@media only screen and (max-width: 1023px) {
			margin-bottom: #{$unit / 100}rem;
		}
	}

	.w#{$unit} {
		width: #{$unit}px;
		@media only screen and (max-width: 1023px) {
			width: #{$unit / 100}rem;
		}
	}
	.h#{$unit} {
		height: #{$unit}px;
		@media only screen and (max-width: 1023px) {
			height: #{$unit / 100}rem;
		}
	}
	.lh#{$unit} {
		line-height: #{$unit}px;
		@media only screen and (max-width: 1023px) {
			line-height: #{$unit / 100}rem;
		}
	}
}

.cardBox {
	margin: 10px;
	border: 1px solid #eee;
	border-radius: 10px;
}
